<h2>Your Garages</h2>
<% if @garages.empty? %>
  <h3>Looks like you haven't created any garages, create one by clicking the link above.</h3>
<% end %>

<% @garages.each do |garage| %>
  <a href = "/garages/<%= garage.id %>/autos"><%= garage.name %><br /></a>
  <a href = "/garages/<%= garage.id %>/edit">Edit<br /></a>
  <br />
  <br />
<% end %>
