<h1>Login to Auto Collector</h1>
<h2> An app for collectors to keep track of their garages and autos!</h2>
<form method="post" action="/login">
  <input type="text" name="username" placeholder="Username:">
  <input type="text" name="password" placeholder="Password:">

  <input type="submit" value="submit">
</form>
