<h1>Edit <%= @auto.name %></h1>

<form action = "/autos/<%=@auto.id %>" method = "POST">
  <lable> Auto Name </label>
  <input type = "text" name = "name" value = "<%= auto.name %>"> </br>

  <label> Auto Manufacturer </label>
  <input type = "text" name = "manufacturer" value = "<%=@auto.manufacturer%>"> </br>
