<% if @garage %>
  <h4><%= @garage.name %>'s Autos</h4>
<% else %>
  <h4>All Cars</h4>
<% end %>

<% @autos.each do |auto| %>
  <%= auto.manufacturer %><br />
  <%= auto.name %><br />
  <a href="/autos/<%= auto.id%>/edit">Edit</a>
  <br />
  <br />
<% end %>
