<% if @garage %>
  <h4><%= @garage.name %>'s Autos</h4>
<% else %>
  <h4>All Cars</h4>
<% end %>

<% if @autos.empty? %>
  <h5>Looks like you haven't added any autos! Add one by clicking the link above!</h5>
<% binding.pry %>
<% elsif @autos.length > @garage.capacity %>
  <h5> This Garage is full, please choose another garage! </h5>
  <% @autos.last.delete %>
  <a href="/autos/new"> Back to Auto Page </a>

<% else %>
  <% @autos.each do |auto| %>
    <%= auto.manufacturer %>
    <%= auto.name %>
    <a href="/autos/<%= auto.id%>/edit"> - Edit</a>
    <br />
    <br />
  <% end %>
<% end %>
