<% if @garage %>
  <h4><%= @garage.name %>'s Autos</h4>
<% else %>
  <h4>All Cars</h4>
<% end %>

<% if @autos.empty? %>
  <h5>Looks like you haven't added any autos! Add one by clicking the link above!</h5>
<% else %>
  <% @autos.each do |auto| %>
    <%= auto.manufacturer %>
    <%= auto.name %>
    <a href="/autos/<%= auto.id%>/edit"> - Edit</a>
    <br />
    <br />
  <% end %>
<% end %>
