<h3> Add a New Auto </h3>

<form action = "/autos" method = "POST">
  <label> Car Manufacturer </label>
  <input type = "text" name = "manufacturer"> </br>

  <label> Model Name </label>
  <input type = "text" name = "name"> </br>

  <label> Which garage is this car assigned to ? </label>
  <select name = "garage_id">
    <% current_user.garages.each do |garage| %>
      <option value = <%=garage.id %>><%= garage.name %></option>
    <% end %>
  </select>

  <input type="submit" value = "Create">
</form>
