<h1> Add a New Auto </h1>

<form action = "/autos" method = "POST">
  <label> Auto Name </label>
  <input type = "text" name = "name"> </br>

  <label> Auto Manufacturer </label>
  <input type = "text" name = "manufacturer"> </br>

  <label> Which garage is this auto assigned to ? </label>
  <select name = "garage_id">
    <% current_user.garages.each do |garage| %>
      <option value = <%=garage.id %>><%= garage.name %></option>
    <% end %>
  </select>

  <input type="submit" value = "Create">
</form>
